@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@1,900&family=Martel+Sans:wght@200&family=Poppins&family=Ubuntu:wght@500&family=Work+Sans:wght@300&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  font-family: "Dela Gothic One", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0a6be9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 50px auto;
  max-width: 500px;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}

li button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #d32f2f;
}
